{% extends "base.html" %}
{% load static breadcrumbs %}


{% block base_content %}
<div id="content-core" class="container pt-11">
<!--Intro block for mobile-->
    <div class="block lg:hidden mb-6">
        {% breadcrumbs %}
        <h1>Country Profiles</h1>
        <p class="text-base">
            Select a country and explore how internet access, economic development, and social progress intersect across RIPE NCC service regions.
        </p>
    </div>
    <div class="flex flex-col lg:flex-row lg:gap-6 xl:gap-10">
        <div class="w-full lg:w-1/4 flex flex-col">
            {% include "app/includes/search.html" %}
            {% include "app/includes/income_filter.html" %}
            {% include "app/includes/dropdown.html" with width_class="40" countries=country_reports %}
        </div>
        <div class="w-full lg:w-3/4">
            <!-- Intro block for desktop -->
            <div class="hidden lg:block mb-6">
                {% breadcrumbs %}
                <h1>Country Profiles</h1>
                <p class="text-base">
                    Select a country and explore how internet access, economic development, and social progress intersect across RIPE NCC service regions.
                </p>
            </div>

            {% include "app/includes/letter_nav.html" %}
            {% for letter in country_initials %}
                <h2 id="{{ letter }}">{{ letter }}</h2>
                <ul class="flex flex-row flex-wrap mb-12 gap-x-15">
                    {% for country in country_reports %}
                        {% if country.Name|first == letter %}
                            <li class="flex pb-7">
                                <img src="https://flagcdn.com/{{ country.Prefix }}.svg" class="border border-gray-400 w-12 h-8 object-cover" alt="Flag for {{country.Name}}">
                                <a href="{% url 'profile' country.Slug %}" class="pl-2 w-30 text-sm">{{ country.Name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
