{% load static %}

<header class="bg-white border-y border-solid border-ncc-light">
    <a id="skip-nav" href="#content-core">Skip to main content</a>
    <div class="flex justify-between h-16 text-sm container ">
      <div class="flex items-center self-stretch justify-between w-full h-full" aria-label="Main navigation" role="navigation">
        <nav class="flex gap-8 lg:gap-12 items-center self-stretch" aria-label="Main navigation">
          <div class="header-logo">
              <a href="/" title="Go to homepage" class="block py-[1px]"><img class="h-7 my-1" src="{% static 'images/ripe-ncc-logo.svg' %}" alt="RIPE NCC logo"></a>
          </div>
        </nav>
      </div>
    </div>
</header>
