<div class="p-1 flex items-center flex-wrap gap-4">
  <h1 class="text-lg font-semibold mt-4">Map Legend:</h1>
  <div class="flex items-center flex-wrap gap-4 -mt-6 lg:-mt-0">
    <div class="flex items-center space-x-2">
      <span class="w-6 h-4 rounded bg-red-950"></span>
      <span>Below 10</span>
    </div>
    <div class="flex items-center space-x-2">
      <span class="w-6 h-4 rounded bg-amber-700"></span>
      <span>10-15</span>
    </div>
    <div class="flex items-center space-x-2">
      <span class="w-6 h-4 rounded bg-orange-200"></span>
      <span>15-20</span>
    </div>
    <div class="flex items-center space-x-2">
      <span class="w-6 h-4 rounded bg-emerald-200"></span>
      <span>20-25</span>
    </div>
    <div class="flex items-center space-x-2">
      <span class="w-6 h-4 rounded bg-cyan-700"></span>
      <span>25-30</span>
    </div>
    <div class="flex items-center space-x-2">
      <span class="w-6 h-4 rounded bg-ncc"></span>
      <span>Above 30</span>
    </div>
    <div class="flex items-center space-x-2">
      <span class="w-6 h-4 rounded bg-gray-400"></span>
      <span>Unknown</span>
    </div>
  </div>
</div>
