.icon {
    @apply bg-ncc inline-flex h-auto
}

.icon-facebook {
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22.3996 12.0632C22.3996 6.2843 17.7434 1.59961 11.9996 1.59961C6.25584 1.59961 1.59961 6.2843 1.59961 12.0632C1.59961 17.2858 5.40274 21.6146 10.3746 22.3996V15.0878H7.73398V12.0632H10.3746V9.75791C10.3746 7.13549 11.9273 5.68694 14.3028 5.68694C15.4407 5.68694 16.6309 5.8913 16.6309 5.8913V8.46632H15.3194C14.0275 8.46632 13.6246 9.27289 13.6246 10.1004V12.0632H16.509L16.0479 15.0878H13.6246V22.3996C18.5965 21.6146 22.3996 17.2858 22.3996 12.0632Z" /></svg>');
    width: 24px
}

.icon-instagram {
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.4992 0.799805H7.46121C3.78809 0.799805 0.799805 3.78809 0.799805 7.46121V16.4992C0.799805 20.1723 3.78809 23.1606 7.46121 23.1606H16.4992C20.1723 23.1606 23.1606 20.1723 23.1606 16.4992V7.46121C23.1606 3.78809 20.1723 0.799805 16.4992 0.799805ZM20.9111 16.4992C20.9111 18.9358 18.9358 20.9111 16.4992 20.9111H7.46121C5.0246 20.9111 3.0493 18.9358 3.0493 16.4992V7.46121C3.0493 5.02456 5.0246 3.0493 7.46121 3.0493H16.4992C18.9358 3.0493 20.9111 5.02456 20.9111 7.46121V16.4992Z" /><path d="M11.9806 6.19727C8.79165 6.19727 6.19727 8.79165 6.19727 11.9805C6.19727 15.1694 8.79165 17.7638 11.9806 17.7638C15.1695 17.7638 17.7639 15.1694 17.7639 11.9805C17.7639 8.79161 15.1695 6.19727 11.9806 6.19727ZM11.9806 15.5144C10.0289 15.5144 8.44676 13.9322 8.44676 11.9806C8.44676 10.0289 10.0289 8.44676 11.9806 8.44676C13.9322 8.44676 15.5144 10.0289 15.5144 11.9806C15.5144 13.9322 13.9322 15.5144 11.9806 15.5144Z" /><path d="M17.7745 7.62609C18.5398 7.62609 19.1603 7.00564 19.1603 6.24029C19.1603 5.47493 18.5398 4.85449 17.7745 4.85449C17.0091 4.85449 16.3887 5.47493 16.3887 6.24029C16.3887 7.00564 17.0091 7.62609 17.7745 7.62609Z" /></svg>');
    height: 24px;
    width: 24px
}

.icon-instagram,.icon-x, .icon-facebook {
    -webkit-mask: var(--svg);
    mask: var(--svg)
}

.icon-x {
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M11.827 8.49995L18.9746 0.191406H17.2809L11.0746 7.4056L6.11764 0.191406H0.400391L7.89626 11.1005L0.400391 19.8133H2.09425L8.64825 12.1949L13.8831 19.8133H19.6004L11.8266 8.49995H11.827ZM9.50703 11.1967L8.74754 10.1103L2.70457 1.46652H5.30623L10.183 8.44237L10.9425 9.52867L17.2817 18.5962H14.68L9.50703 11.1971V11.1967Z"/></svg>');
    height: 20px;
    width: 20px
}

.icon-linkedin {
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.7356 1.59961C21.6546 1.59961 22.3996 2.34461 22.3996 3.26361V20.7356C22.3996 21.6546 21.6546 22.3996 20.7356 22.3996H3.26361C2.34461 22.3996 1.59961 21.6546 1.59961 20.7356V3.26361C1.59961 2.34461 2.34461 1.59961 3.26361 1.59961H20.7356ZM15.3487 9.64002L15.5288 9.64168L15.6791 9.64416C17.6211 9.7085 19.0716 11.0298 19.0716 13.7873V19.0716H15.9828V14.1445L15.9808 14.0037C15.9474 12.845 15.4933 12.0606 14.4198 12.0606C13.7072 12.0634 13.073 12.513 12.8344 13.1844C12.754 13.424 12.7187 13.6763 12.7302 13.9287V19.0716H9.6414L9.66064 11.8617L9.65486 10.5715L9.6414 9.85752H12.7451V11.1674L12.8306 11.0297C13.4227 10.1301 14.4447 9.60018 15.5288 9.64168L15.3487 9.64002ZM8.07094 9.64168V19.0716H4.93002V9.64168H8.07094ZM6.36685 4.92842L6.50793 4.93044L6.64677 4.93184C7.01501 4.95274 7.36434 5.10992 7.62495 5.37555C7.91813 5.67439 8.07192 6.08287 8.04862 6.50085C8.07283 6.92563 7.91411 7.34046 7.61254 7.6406C7.31097 7.94074 6.89538 8.09749 6.47071 8.07127L6.33187 8.06987C5.96363 8.04897 5.6143 7.89179 5.35369 7.62616C5.06051 7.32732 4.90672 6.91884 4.93002 6.50085C4.90581 6.07608 5.06453 5.66125 5.3661 5.36111C5.66767 5.06098 6.08326 4.90422 6.50793 4.93044L6.36685 4.92842Z" /></svg>')
}

.icon-linkedin,.icon-youtube {
    height: 24px;
    -webkit-mask: var(--svg);
    mask: var(--svg);
    width: 24px
}

.icon-youtube {
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.7226 4.87904C23.095 5.25139 23.3631 5.71493 23.5002 6.22334C23.9941 8.09427 24 12.0001 24 12.0001C24 12.0001 24 15.9059 23.5002 17.7768C23.3631 18.2853 23.095 18.7488 22.7226 19.1211C22.3503 19.4935 21.8867 19.7616 21.3783 19.8987C19.5074 20.4005 12 20.4005 12 20.4005C12 20.4005 4.49457 20.4005 2.62364 19.8987C2.11505 19.762 1.65131 19.494 1.27892 19.1216C0.906516 18.7492 0.638529 18.2854 0.50181 17.7768C0 15.9059 0 12.0001 0 12.0001C0 12.0001 0 8.09427 0.50181 6.22334C0.637318 5.71329 0.904766 5.24792 1.27725 4.87405C1.64972 4.50019 2.1141 4.23101 2.62364 4.09361C4.49259 3.5918 12 3.5918 12 3.5918C12 3.5918 19.5054 3.5918 21.3783 4.10151C21.8867 4.23859 22.3503 4.5067 22.7226 4.87904ZM15.8367 12.0001L9.59961 15.5997V8.40049L15.8367 12.0001Z" /></svg>')
}

.icon-github {
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.2135 0C5.45975 0 0 5.5 0 12.3042C0 17.7432 3.49825 22.3472 8.35125 23.9767C8.958 24.0992 9.18025 23.712 9.18025 23.3862C9.18025 23.101 9.16025 22.1232 9.16025 21.1045C5.76275 21.838 5.05525 19.6378 5.05525 19.6378C4.50925 18.2118 3.70025 17.8452 3.70025 17.8452C2.58825 17.0915 3.78125 17.0915 3.78125 17.0915C5.01475 17.173 5.662 18.3545 5.662 18.3545C6.75375 20.2285 8.513 19.699 9.22075 19.373C9.32175 18.5785 9.6455 18.0285 9.98925 17.723C7.2795 17.4377 4.4285 16.3785 4.4285 11.6523C4.4285 10.3078 4.9135 9.20775 5.682 8.35225C5.56075 8.04675 5.136 6.7835 5.8035 5.09275C5.8035 5.09275 6.83475 4.76675 9.16 6.35575C10.1555 6.08642 11.1822 5.9494 12.2135 5.94825C13.2448 5.94825 14.296 6.091 15.2668 6.35575C17.5923 4.76675 18.6235 5.09275 18.6235 5.09275C19.291 6.7835 18.866 8.04675 18.7447 8.35225C19.5335 9.20775 19.9985 10.3078 19.9985 11.6523C19.9985 16.3785 17.1475 17.4172 14.4175 17.723C14.8625 18.11 15.2465 18.8433 15.2465 20.0045C15.2465 21.6545 15.2265 22.9788 15.2265 23.386C15.2265 23.712 15.449 24.0992 16.0555 23.977C20.9085 22.347 24.4067 17.7432 24.4067 12.3042C24.4268 5.5 18.947 0 12.2135 0Z" /></svg>')
}

.icon-github,.icon-mastodon {
    height: 24px;
    -webkit-mask: var(--svg);
    mask: var(--svg);
    width: 24px
}

.icon-mastodon {
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="inherit" d="M 15.659 9.592 C 15.424 10.72 13.553 11.956 11.404 12.195 C 10.283 12.32 9.18 12.434 8.003 12.384 C 6.079 12.302 4.56 11.956 4.56 11.956 C 4.56 12.13 4.572 12.297 4.595 12.452 C 4.845 14.224 6.478 14.33 8.025 14.379 C 9.586 14.429 10.976 14.02 10.976 14.02 L 11.04 15.337 C 11.04 15.337 9.948 15.884 8.003 15.984 C 6.93 16.039 5.598 15.959 4.047 15.576 C 0.683 14.746 0.104 11.4 0.015 8.006 C -0.012 6.998 0.005 6.048 0.005 5.253 C 0.005 1.782 2.443 0.765 2.443 0.765 C 3.672 0.238 5.782 0.017 7.975 0 L 8.029 0 C 10.221 0.017 12.332 0.238 13.561 0.765 C 13.561 0.765 15.999 1.782 15.999 5.253 C 15.999 5.253 16.03 7.814 15.659 9.592 Z M 13.124 5.522 L 13.124 9.725 L 11.339 9.725 L 11.339 5.646 C 11.339 4.786 10.951 4.35 10.175 4.35 C 9.317 4.35 8.887 4.867 8.887 5.891 L 8.887 8.124 L 7.113 8.124 L 7.113 5.891 C 7.113 4.867 6.683 4.35 5.825 4.35 C 5.049 4.35 4.661 4.786 4.661 5.646 L 4.661 9.725 L 2.876 9.725 L 2.876 5.522 C 2.876 4.663 3.111 3.981 3.582 3.476 C 4.067 2.971 4.703 2.712 5.493 2.712 C 6.406 2.712 7.098 3.039 7.555 3.695 L 8 4.39 L 8.445 3.695 C 8.902 3.039 9.594 2.712 10.507 2.712 C 11.297 2.712 11.933 2.971 12.418 3.476 C 12.889 3.981 13.124 4.663 13.124 5.522 Z" style="stroke:none;stroke-miterlimit:10;fill-rule:evenodd;"/></svg>')
}

.icon-search {
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="M21.8496 20.6937L16.3066 15.1508C16.2078 15.052 16.0789 15.0004 15.9414 15.0004H15.4988C16.9727 13.4062 17.875 11.2793 17.875 8.9375C17.875 4.00039 13.8746 0 8.9375 0C4.00039 0 0 4.00039 0 8.9375C0 13.8746 4.00039 17.875 8.9375 17.875C11.2793 17.875 13.4062 16.9727 15.0004 15.5031V15.9414C15.0004 16.0789 15.0562 16.2078 15.1508 16.3066L20.6937 21.8496C20.8957 22.0516 21.2223 22.0516 21.4242 21.8496L21.8496 21.4242C22.0516 21.2223 22.0516 20.8957 21.8496 20.6937ZM8.9375 16.5C4.75664 16.5 1.375 13.1184 1.375 8.9375C1.375 4.75664 4.75664 1.375 8.9375 1.375C13.1184 1.375 16.5 4.75664 16.5 8.9375C16.5 13.1184 13.1184 16.5 8.9375 16.5Z" /><defs><clipPath id="clip0_1141_3299"></clipPath></defs></svg>');
    height: 12px;
    width: 12px;
    -webkit-mask: var(--svg);
}

.icon-plus {
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>');
    -webkit-mask: var(--svg);
    display: inline-block;
    width: 17px;
    height: 17px;
}

.icon-arrow-right {
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 10"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.14675 0.664777L6.8153 0.996184C6.59564 1.21584 6.59564 1.572 6.8153 1.7917L9.1822 4.15861H0.5625C0.251859 4.15861 0 4.41047 0 4.72111V5.18986C0 5.5005 0.251859 5.75236 0.5625 5.75236H9.1822L6.8153 8.11926C6.59564 8.33892 6.59564 8.69508 6.8153 8.91478L7.14675 9.24619C7.36641 9.46584 7.72256 9.46584 7.94222 9.24619L11.8352 5.35321C12.0549 5.13356 12.0549 4.7774 11.8352 4.5577L7.94222 0.664777C7.72256 0.445074 7.36641 0.445074 7.14675 0.664777Z"/></svg>')
}

.icon-arrow-left {
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 10"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.85325 0.664777L5.1847 0.996184C5.40436 1.21584 5.40436 1.572 5.1847 1.7917L2.8178 4.15861H11.4375C11.7481 4.15861 12 4.41047 12 4.72111V5.18986C12 5.5005 11.7481 5.75236 11.4375 5.75236H2.8178L5.1847 8.11926C5.40436 8.33892 5.40436 8.69508 5.1847 8.91478L4.85325 9.24619C4.63359 9.46584 4.27744 9.46584 4.05778 9.24619L0.164776 5.35321C-0.0548785 5.13356 -0.0548785 4.7774 0.164776 4.5577L4.05778 0.664777C4.27744 0.445074 4.63359 0.445074 4.85325 0.664777Z"/></svg>')
}

.icon-arrow-up{
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2 160 448c0 17.7 14.3 32 32 32s32-14.3 32-32l0-306.7L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>')
}

.icon-arrow-down{
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>')
}

.icon-equal{
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M48 128c-17.7 0-32 14.3-32 32s14.3 32 32 32l352 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L48 128zm0 192c-17.7 0-32 14.3-32 32s14.3 32 32 32l352 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L48 320z"/></svg>')
}

.icon-dropdown {
    --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>')
}

.icon-arrow-left,.icon-arrow-right {
    height: 24px;
    -webkit-mask: var(--svg);
    width: 16px;

}

.icon-equal{
    height: 24px;
    -webkit-mask: var(--svg);
    width: 16px;
    position: absolute;
    margin-top:3px;
    margin-left:15px;
}

.icon-arrow-up{
    height: 24px;
    -webkit-mask: var(--svg);
    width: 16px;
    background-color: green !important;
    position: absolute;
    margin-top:3px;
    margin-left:15px;
}

.icon-arrow-down{
    height: 24px;
    -webkit-mask: var(--svg);
    width: 16px;
    background-color: red !important;
    position: absolute;
    margin-top:3px;
    margin-left:10px;
}

.icon-small {
    mask-size: 1rem auto;
}

.icon-small,.icon-tiny {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    max-width: 1rem;
}

.icon-tiny {
    mask-size: 0.65rem
}

.icon-dropdown{
    height: 18px;
    -webkit-mask: var(--svg);
    width: 16px;
    background-color:  #99a1af !important;
    -webkit-mask-repeat: no-repeat;
}
